<h1 class="mt-4">Atendimento Medico</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Painel de Atendimento</li>
  <li class="breadcrumb-item active">Total de casos {{tamanhoFila}}</li>
</ol>
<div class="row">
    <div class="col-md-2">
      <button class="btn btn-success" (click)="buscarProximo()">
        <i class="fa fa-plus"></i> Chamar Proximo
      </button>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="falha" >
        {{falha}}
    </div>
    <div class="alert alert-success" role="alert" *ngIf="sucesso" >
        {{sucesso}}
    </div> 
</div>
<div class="row" *ngIf="!token.numToken">
    <div class="col-md-2">
        <div class="form-group">
            <label>Token:</label>
            <input type="text" name="nome" id="" class="form-control"  [value]="token.numToken" name = "numToken" disabled>  <!--[(ngModel)]="paciente.nome"-->
        </div>
    </div>       
    <div class="col-md-2">
        <div class="form-group">
            <label>Nome:</label>
            <input type="text" name="nome" id="" [value]="token.paciente?.nome || 'Não informado'" class="form-control" > 
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Documento:</label>
            <input type="text" name="documento" id="" [value]="token.paciente?.cpf || '00000000000'" class="form-control" > 
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Entrada:</label>
            <input type="text" name="dataEntrada" id="" class="form-control" [value]="token.dataEntrada"  name = "dataEntrada" disabled> <!--[(ngModel)]="token.dataEntrada"-->
        </div>
    </div>       
    <div class="col-md-2">
        <div class="form-group">
            <label>Tipo de Atendimento:</label>
            <input type="text" name="atendimento" id="" class="form-control"  [value]="token.atendimento" disabled> <!--[(ngModel)]="cliente.cpf"-->
        </div>
    </div>
    <div class="col-md-1">
        <div class="form-group">
            <label hidden>Ficha:</label><br>
            <button class="btn btn-primary" (click)="getFicha()">
                <i class="fa fa-receipt"></i> Ficha
              </button>
        </div>
    </div>

</div>

<div class="row" *ngIf="!ficha.id">  
    <div class="col-md-2">
        <div class="form-group">
            <label>Sintomas:</label>
            <textarea class="form-control">
                {{ficha.sintomas}}
            </textarea>
            
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Temperatura:</label>
            <input type="number" name="temperatura" id="" class="form-control" [value]="ficha.temperatura"  name = "dataEntrada" disabled> 
        </div>
    </div>       
    <div class="col-md-2">
        <div class="form-group">
            <label>Pressão:</label>
            <input type="text" name="pressao" id="" class="form-control"  [value]="ficha.pressao" disabled> 
        </div>
    </div>

</div>

<div class="row" *ngIf="!ficha.id">  
    <div class="col-md-2">
        <div class="form-group">
            <label>Medimamento:</label>
            <input type="text" name="medicamento" id="" class="form-control">            
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Dias:</label>
            <input type="number" name="temperatura" id="" class="form-control"  name = "dataEntrada"> 
        </div>
    </div>       
    <div class="col-md-2">
        <div class="form-group">
            <label>Frequencia:</label>
            <input type="text" name="periodo" id="" class="form-control" > 
        </div>
    </div>
</div>