<h1 class="mt-4">Painel de atendimento</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Aguarde ser chamado</li>
</ol>
<div class="container"> 
    <div class="row ">
         <div class="col-md-6 "> 
            <div class="row">
                <fieldset style="background-color: rgb(226, 236, 236);">
                     <legend>Ultimos chamados:</legend>
                 <table class="table table-borderless table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Token</th>
                            <th>Nome</th>
                            <th>Atendimento</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let token of tokens | slice:0:6">
                            <td>{{ token.numToken }}</td>
                            <td ><p *ngIf="token.paciente">{{ token.paciente.nome }}</p></td>
                            <td>{{ token.status }}</td>
                            
                        </tr>
                    </tbody>
                </table>
                </fieldset>
                
            </div>           
        </div> 

        <div class="col-md-5"> 
            <div class="row">
                <div class="row">
                    <fieldset style="background-color: rgb(226, 236, 236);">
                        <legend>Chamando:</legend>
                    <div *ngFor="let token of tokens | slice:0:1">
                         <p style="color: black;">Token: <span style="color: black; font-weight: bold;
">{{ token.numToken }}</span></p>
                        <p style="color: black;">Paciente: <span style="color: black; font-weight: bold;
" *ngIf="token.paciente">{{ token.paciente.nome }}</span></p>
                        <p style="color: black;">Atendimento: <span style="color: black; font-weight: bold;
">{{ token.status }}</span></p>
                    </div>  
                    </fieldset>
                   
                </div>
                <div class="row">
                    <fieldset style="background-color: rgb(226, 236, 236);"> 
                         <legend>Tempo de Atendimento</legend>
                    <div class="row">
                        <p>Triagem: </p>
                        <p>Guiche: </p>
                        <p>Atendimento Medico :</p>
                        <p>Raio-X: </p>
                        <p>Medicação: </p>
                    </div>
                    </fieldset>
                   
                </div> 
            </div>            
        </div> 
    </div> 
</div>