<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <div class="sb-sidenav-menu-heading">Sistema</div>
        <a class="nav-link" routerLink="/home"
          ><div class="sb-nav-link-icon">
            <i class="fas fa-hospital"></i>
          </div>
          Atendimento</a
        >
        <a class="nav-link" routerLink="/triagem"
          ><div class="sb-nav-link-icon">
            <i class="fas fa-book-medical"></i>
          </div>
          Triagem</a
        >
        <a class="nav-link" routerLink="/guiche"
          ><div class="sb-nav-link-icon">
            <i class="fas fa-receipt"></i>
          </div>
          Guiche</a
        >
        <a class="nav-link" routerLink="/painel"
        ><div class="sb-nav-link-icon">
          <i class="fas fa-desktop"></i>
        </div>
        Painel</a
      >
        <a class="nav-link" routerLink="/doutor"
        ><div class="sb-nav-link-icon">
          <i class="fas fa-stethoscope"></i>
        </div>
        Doutor</a
      >
      </div>
    </div>
    <div class="sb-sidenav-footer">
      <div class="small">Logged in as:</div>
      Start Bootstrap
    </div>
  </nav>
</div>
