<h1 class="mt-4">Informe seu CPF</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Paciente Com Cadastro</li>
</ol>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <form>
        <div class="col-md-6">
            <div class="form-group">
                <label>CPF:*</label>
                <input type="text" name="cpf" id="" class="form-control">
            </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-md-3">
        <button type="submit" class="btn btn-success"><i class="fa fa-search"></i> Buscar</button>   
        <button  type="button"class="btn btn-danger  ml-1" (click)="voltar()"><i class="fa fa-arrow-circle-left"></i> Volta</button>
    </div>
   
</div>
<div class="row mt-5">
  <app-atendimentos></app-atendimentos>
</div>
     

