<h1 class="mt-4">Bem-Vindo!</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Token de Atendimento</li>
</ol>
<div class="container">
  <div class="row">
    <div class="col-xl-3 col-md-6">
      <div class="card bg-default mb-4">
        <div class="card-header">1° Atendimento</div>
        <div class="card-body">
          Destinado a quem esta passando a primeira vez conosco e ainda não
          possui cadastro
        </div>
        <div
          class="card-footer d-flex align-items-center justify-content-between"
        >
          <a class="small text-black stretched-link" href="#">View Details</a>
          <div class="small"><i class="fas fa-angle-right"></i></div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card bg-success text-white mb-4">
        <div class="card-header">Já Possuo Cadastro</div>
        <div class="card-body">Destinado a quem já possui cadastro</div>
        <div
          class="card-footer d-flex align-items-center justify-content-between"
        >
          <a class="small text-white stretched-link" href="#">View Details</a>
          <div class="small text-white"><i class="fas fa-angle-right"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>
